<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <div class="header">
    <nav class="navbar navbar-expand-lg bg-primary py-3">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">BookShelf</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-decoration-underline text-light" aria-current="page" href="/books">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create">Create</a>
              </li>
             
            </ul>
            <form class="d-flex" role="search"  action="/search" method="GET">
              <input class="form-control me-2" type="search" placeholder="Search using book name or author name" aria-label="Search" name="title">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <% if(user) { %>
                  <a href="/logout" class="btn btn-outline-dark text-light logout-btn" type="submit">Log out</a>
                  <% } else { %>
                    <a href="/signin" class="btn btn-outline-dark text-light logout-btn" type="submit">SignIn</a>
                    <a href="/signup" class="btn btn-outline-dark text-light logout-btn" type="submit">SignUp</a>
                    <% } %>
              </li>
          </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="her">
      <% if(user) { %>
      <h4>Welcome, <%- user.name %></h4>
      <% } %>
        <h1>Explore Limitless Worlds of Imagination with Our Bookshelf</h1>
        <p style="margin-bottom:10vh;">Discover a curated collection of captivating stories and literary treasures that transport you to new realms of excitement and knowledge at our Bookshelf. Your next adventure awaits between the pages.</p>
        <div class="image">
            <img src="/23167.jpg" alt="">
        </div>
    </div>
    <section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-1"><%=header%></h3>
                <form class="filterform" action="/genre?genre=<%= show %>" method="GET">
                <select class="form-select" style="width: 50%;" aria-label="Default select example" name="genre" id="selete">
                  <option value="All"<%= show === 'All' ? 'selected' : '' %>>All</option>
                  <option value="Mystery" <%= show === 'Mystery' ? 'selected' : '' %>>Mystery</option>
                  <option value="Science Fiction" <%= show === 'Science Fiction' ? 'selected' : '' %>>Science Fiction</option>
                  <option value="Romance" <%= show === 'Romance' ? 'selected' : '' %>>Romance</option>
                  <option value="Fantasy" <%= show === 'Fantasy' ? 'selected' : '' %>>Fantasy</option>
                  <option value="Thriller" <%= show === 'Thriller' ? 'selected' : '' %>>Thriller</option>
                  <option value="Historical" <%= show === 'Historical' ? 'selected' : '' %>>Historical</option>
                  <option value="Fiction" <%= show === 'Fiction' ? 'selected' : '' %>>Fiction</option>
                  <option value="Non-fiction" <%= show === 'Non-fiction' ? 'selected' : '' %>>Non-fiction</option>
                  <option value="Classic" <%= show === 'Classic' ? 'selected' : '' %>>Classic</option>
                  <option value="Adventure" <%= show === 'Adventure' ? 'selected' : '' %>>Adventure</option>
                  <option value="Action" <%= show === 'Action' ? 'selected' : '' %>>Action</option>
                </select>
                <input type="submit" value="Filter">
              </form>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <% if(book.length>0) { %>
                                    <% book.forEach(books =>{ %>
                                        
                                <div class="col-md-4 mb-1">
                                    <a class="card mt-5"  href="/books/<%=books._id %>" style="text-decoration: none;" id="carda">
                                       
                                        <div class="card-body">
                                            <h2 class="card-title  text-primary"><%= books.title %></h2>
                                            <h6 class="card-text text-success">Author name : <%=books.author %></h6>
                                            <p class="card-text">Genre : <%=books.genre %></p>

                                        </div>

                                    </a>
                                </div>
                                </a>
                                <% }) %>
        <% } else { %>
            <p>No books available.</p>
        <% } %>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div id="mystery" class="carousel-inner">
          </div>
          <div id="science fiction" class="carousel-inner">
          </div>
          <div id="romance" class="carousel-inner">
          </div>
          <div id="fantasy" class="carousel-inner">
          </div>
          <div id="thriller" class="carousel-inner">
          </div>
          <div id="historical" class="carousel-inner">
          </div>
          <div id="fiction" class="carousel-inner">
          </div>
          <div id="non-fiction" class="carousel-inner">
          </div>
          <div id="classic" class="carousel-inner">
          </div>
          <div id="adventure" class="carousel-inner">
          </div>
          <div id="action" class="carousel-inner">
          </div>
</section>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
                <div class="container text-center">
                  <small>Copyright &copy; techatsuki</small>
                </div>
              </footer>

              <script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Function to get URL parameters
                    function getUrlParameter(name) {
                        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                        var results = regex.exec(location.search);
                        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
                    };
                
                    // Get the genre parameter from the URL
                    var genre = getUrlParameter('genre');
                
                    // Scroll to the appropriate section based on the genre
                    if (genre !== '') {
                        var sectionId = genre.toLowerCase();
                        document.getElementById(sectionId).scrollIntoView({ behavior: 'smooth' });
                    }
                });
                </script>
                
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>